* {
    box-sizing: border-box;
  }
  
  .red-container {
    position: relative;
    display: inline-block;
  }
  
  .smaller-container {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
  }
  
  .player-health {
    position: relative;
    height: 30px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  .player-health > div:first-child {
    background-color: yellow;
    height: 30px;
    width: 100%;
  }
  
  #playerHealth {
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
  }
  
  #timer {
    background-color: red;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .enemy-health {
    position: relative;
    height: 30px;
    width: 100%;
  }
  
  .enemy-health > div:first-child {
    background-color: yellow;
    height: 30px;
    width: 100%;
  }
  
  #enemyHealth {
    position: absolute;
    background: blue;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  
  #displayText {
    position: absolute;
    color: white;
    align-items: center;
    justify-content: center;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
  }
  